<div class="container">
  <p>The app component content goes here.</p>

  <input type="text" value="Sample text box" [disabled]="!enableText" />
  <button (click)="toggleFlag()">
    {{ enableText ? "Disable" : "Enable" }}
  </button>
  <div *ngIf="enableText; else disabledTemplate" [ngClass]="getClasses()">
    <p>Go on change the text...</p>
  </div>

  <ng-template #disabledTemplate>
    <div [ngClass]="getClasses()">
        <p>Sorry! Textbox is not open for business!</p>
    </div>
  </ng-template>
</div>
